.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* From Uiverse.io by mahiatlinux */ 
.form-register {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #1f1f1f;
  padding: 30px;
  padding-left: 40px;
  width: 450px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* Nuevas propiedades */
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Tablets y celulares */
@media (max-width: 800px) {
  .form-register {
    width: 78%;
    border: 2px solid #2d79f3;
  }
}

.form-register::-webkit-scrollbar {
    width: 8px;
}

.form-register::-webkit-scrollbar-track {
    background: transparent;
}

.form-register::-webkit-scrollbar-thumb {
    background: transparent;
    border: 2px solid transparent;
    background-clip: content-box;
    border-radius: 999px;
}

.form-register button {
  align-self: flex-end;
}


/*form register login*/

/* From Uiverse.io by mahiatlinux */ 
.form-register-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #1f1f1f;
  padding: 30px;
  padding-left: 40px;
  width: 450px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* Nuevas propiedades */
  max-height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Tablets y celulares */
@media (max-width: 800px) {
  .form-register-login {
    width: 78%;
    border: 2px solid #2d79f3;
  }
}

.form-register-login::-webkit-scrollbar {
    width: 8px;
}

.form-register-login::-webkit-scrollbar-track {
    background: transparent;
}

.form-register-login::-webkit-scrollbar-thumb {
    background: transparent;
    border: 2px solid transparent;
    background-clip: content-box;
    border-radius: 999px;
}

.form-register-login button {
  align-self: flex-end;
}



@media (max-width: 800px) {
  .form {
    width: 78%;
    border: 2px solid #2d79f3;
  }
}




/* From Uiverse.io by mahiatlinux */ 
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #1f1f1f;
  padding: 30px; 
  width: 450px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* Nuevas propiedades */
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.form::-webkit-scrollbar {
    width: 8px;
}

.form::-webkit-scrollbar-track {
    background: transparent;
}

.form::-webkit-scrollbar-thumb {
    background: transparent;
    border: 2px solid transparent;
    background-clip: content-box;
    border-radius: 999px;
}

.form button {
  align-self: flex-end;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;  
  width: 100%;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #aaa;
}



.flex-column > label {
  color: #f1f1f1;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #333;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
  background-color: #2b2b2b;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 90%;
  background-color: #2b2b2b;
  color: #f1f1f1;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row > div > label {
  font-size: 14px;
  color: #f1f1f1;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #2d79f3;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.p {
  text-align: center;
  color: #f1f1f1;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #333;
  background-color: #2b2b2b;
  color: #f1f1f1;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: 1px solid #2d79f3;
}

.logo-container-login{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoapp{
  width: 170px;
  height: 170px;
  margin-bottom: 10px;
  background-color: transparent;
}

.form-header-title{
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 20px;
}

.form-header-title h1{
  font-size: 20px;
  font-weight: 600;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.formInputNormal{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}

.formInputNormal h3{
  font-size: 14px;
  color: #f1f1f1;
  font-weight: 400;
}





.contenedorTiposTrabajo {
    display: flex; 
    gap: 20px;
    flex-wrap: wrap;
}

.itemTipoTrabajo {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: .2s;
}

.itemTipoTrabajo img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover; /* o contain si son logos */
    border: 2px solid transparent;
    transition: .2s;
}

@media (max-width: 380px) {
    .itemTipoTrabajo img {
        width: 63px;
        height: 63px;
    }

    .nombreTipoTrabajo {
        font-size: 12px;
    }
}

.itemTipoTrabajo:hover img {
    transform: scale(1.08);
}

.itemTipoTrabajo.seleccionado img {
    filter: brightness(.45);
    border-color: #4FC3F7;
}

.nombreTipoTrabajo {
    margin-top: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}


/* ============================= */
/*        PLATAFORMAS            */
/* ============================= */

.contenedorPlataformas {
    display: flex;
    flex-wrap: nowrap;
    gap: 18px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 8px 4px 12px;
    scroll-behavior: smooth;

    scrollbar-width: thin;
    scrollbar-color: #4FC3F7 transparent;

    scroll-snap-type: x mandatory;
}

.contenedorPlataformas::-webkit-scrollbar {
    height: 6px;
}

.contenedorPlataformas::-webkit-scrollbar-track {
    background: transparent;
}

.contenedorPlataformas::-webkit-scrollbar-thumb {
    background: #4FC3F7;
    border-radius: 20px;
}

.contenedorPlataformas::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

.itemPlataforma {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: .25s;
    scroll-snap-align: start;
}

.itemPlataforma img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid transparent;
    transition: .25s;
}

.itemPlataforma:hover img {
    transform: scale(1.08);
}

.itemPlataforma.seleccionado img {
    filter: brightness(.45);
    border-color: #4FC3F7;
}

.nombrePlataforma {
    margin-top: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
}



/* ============================= */
/*         VEHÍCULOS             */
/* ============================= */

.contenedorVehiculos {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 8px 4px 12px;
    scroll-behavior: smooth;

    scrollbar-width: thin;
    scrollbar-color: #4FC3F7 transparent;

    scroll-snap-type: x mandatory;
}

.contenedorVehiculos::-webkit-scrollbar {
    height: 6px;
}

.contenedorVehiculos::-webkit-scrollbar-track {
    background: transparent;
}

.contenedorVehiculos::-webkit-scrollbar-thumb {
    background: #4FC3F7;
    border-radius: 20px;
}

.contenedorVehiculos::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

.itemVehiculo {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: .25s;
    scroll-snap-align: start;
}

.itemVehiculo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid transparent;
    transition: .25s;
}

.itemVehiculo:hover img {
    transform: scale(1.08);
}

.itemVehiculo.seleccionado img {
    filter: brightness(.45);
    border-color: #4FC3F7;
}

.nombreVehiculo {
    margin-top: 8px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
}


.marcaVehiculo {
    margin-top: 3px;
    color: #9E9E9E;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    width: 95px;
    line-height: 1.2;
}

@media (max-width: 380px) {

    .itemVehiculo img {
        width: 75px;
        height: 75px;
    }

    .nombreVehiculo {
        font-size: 12px;
    }

    .marcaVehiculo {
        font-size: 11px;
    }

}

.user-view-container{
  background-color: pink;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

 
 

.react-calendar {
  width: 480px;
  background: #1f1f1f;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 20px;
}

.react-calendar__tile {
  height: 95px;
  position: relative;
  border-radius: 10px;
}

.react-calendar__tile:hover {
  background: #2d2d2d;
}

.react-calendar__tile--active {
  background: #2d79f3 !important;
}

.contenidoDia {
  margin-top: 8px;
}

.ingresoDia {
  color: #4FC3F7;
  font-size: 12px;
  font-weight: bold;
}

.plataformaDia {
  color: #BDBDBD;
  font-size: 11px;
}

.contenidoDia{
  background-color: orange;
  width: 99px;
}