.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* From Uiverse.io by mahiatlinux */
.form-register {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #1f1f1f;
  padding: 30px;
  padding-left: 40px;
  width: 450px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* Nuevas propiedades */
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Tablets y celulares */
@media (max-width: 800px) {
  .form-register {
    width: 78%;
    border: 2px solid #2d79f3;
  }
}

.form-register::-webkit-scrollbar {
  width: 8px;
}

.form-register::-webkit-scrollbar-track {
  background: transparent;
}

.form-register::-webkit-scrollbar-thumb {
  background: transparent;
  border: 2px solid transparent;
  background-clip: content-box;
  border-radius: 999px;
}

.form-register button {
  align-self: flex-end;
}


/*form register login*/

/* From Uiverse.io by mahiatlinux */
.form-register-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #1f1f1f;
  padding: 30px;
  padding-left: 40px;
  width: 450px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* Nuevas propiedades */
  max-height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Tablets y celulares */
@media (max-width: 800px) {
  .form-register-login {
    width: 78%;
    border: 2px solid #2d79f3;
  }
}

.form-register-login::-webkit-scrollbar {
  width: 8px;
}

.form-register-login::-webkit-scrollbar-track {
  background: transparent;
}

.form-register-login::-webkit-scrollbar-thumb {
  background: transparent;
  border: 2px solid transparent;
  background-clip: content-box;
  border-radius: 999px;
}

.form-register-login button {
  align-self: flex-end;
}



@media (max-width: 800px) {
  .form {
    width: 78%;
    border: 2px solid #2d79f3;
  }
}




/* From Uiverse.io by mahiatlinux */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #1f1f1f;
  padding: 30px;
  width: 450px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* Nuevas propiedades */
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.form::-webkit-scrollbar {
  width: 8px;
}

.form::-webkit-scrollbar-track {
  background: transparent;
}

.form::-webkit-scrollbar-thumb {
  background: transparent;
  border: 2px solid transparent;
  background-clip: content-box;
  border-radius: 999px;
}

.form button {
  align-self: flex-end;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #aaa;
}



.flex-column>label {
  color: #f1f1f1;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #333;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
  background-color: #2b2b2b;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 90%;
  background-color: #2b2b2b;
  color: #f1f1f1;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row>div>label {
  font-size: 14px;
  color: #f1f1f1;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #2d79f3;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.p {
  text-align: center;
  color: #f1f1f1;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #333;
  background-color: #2b2b2b;
  color: #f1f1f1;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: 1px solid #2d79f3;
}

.logo-container-login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoapp {
  width: 170px;
  height: 170px;
  margin-bottom: 10px;
  background-color: transparent;
}

.form-header-title {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 20px;
}

.form-header-title h1 {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.formInputNormal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}

.formInputNormal h3 {
  font-size: 14px;
  color: #f1f1f1;
  font-weight: 400;
}





.contenedorTiposTrabajo {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.itemTipoTrabajo {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: .2s;
}

.itemTipoTrabajo img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  /* o contain si son logos */
  border: 2px solid transparent;
  transition: .2s;
}

@media (max-width: 380px) {
  .itemTipoTrabajo img {
    width: 63px;
    height: 63px;
  }

  .nombreTipoTrabajo {
    font-size: 12px;
  }
}

.itemTipoTrabajo:hover img {
  transform: scale(1.08);
}

.itemTipoTrabajo.seleccionado img {
  filter: brightness(.45);
  border-color: #4FC3F7;
}

.nombreTipoTrabajo {
  margin-top: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}


/* ============================= */
/*        PLATAFORMAS            */
/* ============================= */

.contenedorPlataformas {
  display: flex;
  flex-wrap: nowrap;
  gap: 18px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 8px 4px 12px;
  scroll-behavior: smooth;

  scrollbar-width: thin;
  scrollbar-color: #4FC3F7 transparent;

  scroll-snap-type: x mandatory;
}

.contenedorPlataformas::-webkit-scrollbar {
  height: 6px;
}

.contenedorPlataformas::-webkit-scrollbar-track {
  background: transparent;
}

.contenedorPlataformas::-webkit-scrollbar-thumb {
  background: #4FC3F7;
  border-radius: 20px;
}

.contenedorPlataformas::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.itemPlataforma {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: .25s;
  scroll-snap-align: start;
}

.itemPlataforma img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid transparent;
  transition: .25s;
}

.itemPlataforma:hover img {
  transform: scale(1.08);
}

.itemPlataforma.seleccionado img {
  filter: brightness(.45);
  border-color: #4FC3F7;
}

.nombrePlataforma {
  margin-top: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
}



/* ============================= */
/*         VEHÍCULOS             */
/* ============================= */

.contenedorVehiculos {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 8px 4px 12px;
  scroll-behavior: smooth;

  scrollbar-width: thin;
  scrollbar-color: #4FC3F7 transparent;

  scroll-snap-type: x mandatory;
}

.contenedorVehiculos::-webkit-scrollbar {
  height: 6px;
}

.contenedorVehiculos::-webkit-scrollbar-track {
  background: transparent;
}

.contenedorVehiculos::-webkit-scrollbar-thumb {
  background: #4FC3F7;
  border-radius: 20px;
}

.contenedorVehiculos::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.itemVehiculo {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: .25s;
  scroll-snap-align: start;
}

.itemVehiculo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid transparent;
  transition: .25s;
}

.itemVehiculo:hover img {
  transform: scale(1.08);
}

.itemVehiculo.seleccionado img {
  filter: brightness(.45);
  border-color: #4FC3F7;
}

.nombreVehiculo {
  margin-top: 8px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
}


.marcaVehiculo {
  margin-top: 3px;
  color: #9E9E9E;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  width: 95px;
  line-height: 1.2;
}

@media (max-width: 380px) {

  .itemVehiculo img {
    width: 75px;
    height: 75px;
  }

  .nombreVehiculo {
    font-size: 12px;
  }

  .marcaVehiculo {
    font-size: 11px;
  }

}

.react-calendar__tile {
  min-height: 70px !important;
  height: 70px !important;
  min-width: 87px;
}

.react-calendar__month-view__days__day {
  min-height: 100px;
}

.react-calendar__tile,
.react-calendar__month-view__days__day {
  min-height: 63px !important;
  height: 63px !important;
}



.react-calendar__tile {
  height: 95px;
  position: relative;
  border-radius: 10px;
}

.react-calendar__tile:hover {
  background: #2d2d2d;
}

.react-calendar__tile--active {
  background: #2d79f3 !important;
}

.contenidoDia {
  margin-top: 8px;
}

.ingresoDia {
  color: #4FC3F7;
  font-size: 12px;
  font-weight: bold;
}

.plataformaDia {
  color: #BDBDBD;
  font-size: 11px;
}


/*css calendario*/

.semanaActual {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 12px;
  margin-top: 20px;
  width: 500px;
}

.diaSemana {
  min-height: 110px;
  background: #1f1f1f;
  border-radius: 16px;
  padding: 12px;
  border: 1px solid #2d79f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: .2s;
}

.diaSemana:hover {
  transform: translateY(-3px);
}

.numeroDia {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.ingresoSemana {
  color: #4FC3F7;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.plataformaSemana {
  color: #9E9E9E;
  font-size: 12px;
  margin-top: 6px;
  text-align: center;
}


/*home*/

.user-menu-home {
  margin: 10px auto 0;
  width: 100%;
  max-width: 800px;
  border: 1px solid #4FC3F7;
  border-radius: 5px;
}

@media (max-width: 870px) {
  .user-menu-home {
    max-width: none;
    border: none;
    border-radius: 0;
    margin-top: 0;
  }
}



.bottom-floating-menu button {
  width: 45px;
  height: 45px;
  border: none;
  background: white;
  border-radius: 15px;
  cursor: pointer;
  font-size: 22px;
  /*color: #2d79f3;*/
  display: flex;
  align-items: center;
  justify-content: center;
}




.bottom-floating-menu {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 12px;

  padding: 10px 15px;

  background: transparent;
  backdrop-filter: blur(20px);

  border-radius: 20px;

  z-index: 9999;

  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-visible {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.menu-hidden {
  opacity: 0;
  transform: translateX(-50%) translateY(100px);
  pointer-events: none;
}

.user-info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.user-info-top-left {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


.user-info-top-left img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.user-info-top-left h5 {
  color: black;
  font-size: 14px;
  font-weight: 700;
}

.user-info-top-left p {
  color: black;
  font-size: 13px;
  font-weight: 600;
}

.user-info-top-left div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}


.user-info-top-right {
  display: flex;
  align-items: center;

}


.notification-button {
  position: relative;

  width: 37px;
  height: 37px;

  border: none;
  background: transparent;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
}


.notification-badge {
  position: absolute;
  top: 4px;
  right: 2px;

  min-width: 15px;
  height: 15px;

  background-color: #f44336;
  color: white;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 8px;
  font-weight: 600;

  padding: 0 4px;
  box-sizing: border-box;
}


.notification-container {
  background-color: white;
  border-radius: 50%;
}






/*estilos calendario componente*/

.calendar-grid {
  display: grid;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-weekday {
  text-align: center;
  padding: 15px;
  font-weight: bold;
}

.calendar-day {
  min-height: 120px;
  border: 1px solid #4fc2f763;
  position: relative;
  background-color: white;
}

.day-number {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 14px;
  font-weight: bold;

  width: 25px;
  height: 25px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

.today-number {
  background-color: #4FC3F7;
  color: white;
}


@media (max-width: 700px) {
  .calendar-day {
    min-height: 55px;
  }

  .day-number {
    font-size: 9px;
    top: 4px;
    right: 5px;
    width: 15px;
    height: 15px;
  }

  .calendar-weekday {
    font-size: 9px;
  }
}



.calendar-view-select {
  padding: 8px 12px;
  border: 1px solid #4FC3F7;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  padding-right: 20px;
}

.calendar-title-top {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-header button {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.calendar-header h2 {
  font-size: 14px;
  font-weight: 600;
  color: black;
  width: 108px;
  text-align: center;
}



.calendar-income {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.calendar-income h4 {
  color: black;
  font-size: 14px;
  font-weight: 700;
}

.calendar-income p {
  color: grey;
  font-weight: 600;
  font-size: 11px;
}

@media (max-width: 700px) {
  .calendar-income h4 {
    color: black;
    font-size: 9px;
    font-weight: 700;
  }

  .calendar-income p {
    color: grey;
    font-weight: 600;
    font-size: 7px;
  }

  .calendar-income {
    padding-top: 2px;
  }
}



.meta-container {
  width: 100%;
  margin-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  grid-template-columns: repeat(7, 1fr);
}

.statistics-card {
  width: 95%;
  margin: 0 auto;
}

.meta-porcentaje {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #2d79f3;
  margin-bottom: 8px;
}

.meta-barra {
  width: 100%;
  height: 4px;
  border-radius: 30px;
  overflow: hidden;
}

.meta-barra-progreso {
  height: 100%;
  background: #2d79f3;
  border-radius: 30px;
  transition: width 0.4s ease;
}

.meta-valores {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
}


.meta-container {
  margin-top: 15px;
}

.meta-title h3 svg {
  font-size: 13px;
  margin-top: 5px;
  color: green;
}

.meta-title h3 {
  font-size: 14px;
  font-weight: 600;
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
}

.meta-title {
  margin-bottom: 10px;
}

.meta-subtitle h3 {
  font-size: 12px;
  font-weight: 600;
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
}

.meta-subtitle {
  margin-bottom: 10px;
}

.meta-porcentaje {
  font-size: 11px;
  font-weight: 600;
  color: black;
  text-align: start;
}

.meta-valores {
  font-size: 11px;
  font-weight: 500;
  color: black;
  text-align: start;
}




.meta-title-gold h3 svg {
  font-size: 16px;
  margin-top: 1px;
  color: gold;
}

.meta-title-gold h3 {
  font-size: 12px;
  font-weight: 600;
  color: black;
  display: flex;
  align-items: center;
  gap: 3px;
}

.meta-title-gold {
  margin-bottom: 10px;
}


.festivo-indicador {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 999;
  color: gold;
  cursor: pointer;
}

@media (max-width: 700px) {
  .festivo-indicador {
    top: 6px;
    left: 5px;
    font-size: 10px;
  }

}


.demanda-indicador {
  position: absolute;
  bottom: 12px;
  left: 12px;

  display: flex;
  align-items: center;
  justify-content: center;


  border-radius: 50%;
  color: #fff;
  font-size: 13px;
}

.demanda-1 {
  color: rgb(137, 204, 226);
}

.demanda-2 {
  color: rgb(124, 247, 79);
}

.demanda-3 {
  color: red;
}

@media (max-width: 700px) {
  .demanda-indicador {
    bottom: 5px;
    left: 3px;
    font-size: 10px;
  }

}


@media (max-width: 700px) {
  .tabla-dias-demanda {
    width: 96% !important;
  }

}

.tabla-dias-demanda {
  width: 70%;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 1px solid #4FC3F7;
  border-radius: 5px;
  margin: 0 auto;
}

.tabla-dias-demanda-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.data-cell {
  font-size: 10px;
  color: black;
}


.movimiento-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 15px;
  background: #fff;
  margin-bottom: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .06);
}

.movimiento-info {
  flex: 1;
}

.btn-eliminar-movimiento {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
  color: #f44336;
}

.movimiento-icono {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #E8F5E9;
  color: #4CAF50;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  flex-shrink: 0;
}

.movimiento-info {
  flex: 1;
}

.movimiento-info h4 {
  margin: 0;
  font-size: 17px;
  color: #222;
  font-weight: 700;
}

.movimiento-info p {
  margin: 4px 0;
  color: #777;
  font-size: 13px;
}

.movimiento-info span {
  color: #999;
  font-size: 12px;
}


.movimientos-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 10px;
  margin: 0 auto;
}

.movimientos-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.movimientos-header h4 {
  font-size: 16px;
  font-weight: 600;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  gap: 5px;
}

.ingresos-dialog-content {
  width: 100%;
}


.ingresos-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
}

.ingresos-header h3 {
  font-size: 20px;
  font-weight: 600;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
}

.ingresos-header span {
  font-size: 17px;
   text-align: center;
   margin-left: 12px;
  font-weight: 600;
  color: rgb(158, 158, 158);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
}